html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.contCard {
  cursor: pointer;
}

.navbar {
  background-color: #000 !important;
  height: 60px;
  /* Ajusta este valor para reducir la altura */
}

/* Para el texto principal */
.custom-text {
  position: absolute;
  top: 45%;
  left: 50px;
  /* Ajusta este valor según el espacio deseado desde el borde derecho */
  text-align: left;
  /* Alinea el texto a la derecha */
  color: white;
  font-size: 3vw;
}

/* Para el botón de inicio */
#btn_start {
  color: white;
  font-size: 1.7rem;
}

/* Para el texto secundario */
.custom-text2 {
  position: absolute;
  top: 60%;
  left: 50px;
  /* Ajusta este valor según el espacio deseado desde el borde derecho */
  text-align: left;
  /* Alinea el texto a la derecha */
  color: white;
  font-size: 1.3vw;
}


.scroll-down-arrow {
  position: absolute;
  bottom: 150px;
  /* Ajusta la distancia desde abajo */
  right: 20%;
  /* Ajusta la posición horizontal */
  transform: translateX(50%);
  /* Centra el botón horizontalmente */
}

.scroll-down-img {
  width: 8cap;
  /* Tamaño del botón */
  animation: bounce 2s infinite;
  /* Agrega la animación de brinco */
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    /* Posición inicial y final */
  }

  50% {
    transform: translateY(-20px);
    /* Posición de brinco */
  }
}

.modal-content {
  background-color: #f6f4f4;
}

.modal-description-container {
  background-color: #c9cccf6b;
  /* Tono gris muy leve */
  border-radius: 8px;
  /* Bordes redondeados */
  padding: 15px;
  /* Padding */
  margin: 25px 0;
  /* Margen superior e inferior */
  text-align: justify;
  /* Texto justificado */
}

.modal-info {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 15px;
}


.toggle-btn-container {
  display: inline-block;
  /* Para que el contenedor ocupe solo el espacio necesario */
  margin-bottom: 20px;
  /* Agrega un margen a la izquierda para separarlo de la última card */
  cursor: pointer;
}


.toggle-btn:hover {
  color: rgb(171, 173, 171);
  /* Cambia el color del texto al pasar el cursor sobre él */
}

#modal-carousel {
  position: absolute;
  top: 38%;
  /* Ajustar el margen superior para que el contenido se vea más abajo */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  /* Reducir el tamaño de las imágenes del carrusel */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.658) !important;
}


/* Estilos para los input y text area */
#contactForm input[type="text"],
#contactForm input[type="tel"],
#contactForm input[type="email"],
#contactForm textarea {
  background-color: rgba(255, 255, 255, 0.3);
  /* Fondo transparente con opacidad */
  border: 1px solid #a4a3a3;
  /* Borde opcional */
  color: rgba(3, 3, 3, 3);
  font-size: 15px;
  /* Color del texto con opacidad */
  padding: 20px;
  /* Ajusta el relleno según sea necesario */
  border-radius: 5px;
  /* Borde redondeado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  /* Sombra leve */
  padding: 15px;
  /* Espaciado interno */
  margin-bottom: 20px;
  /* Espaciado inferior */
  width: 100%;
  /* Ancho completo */
}

/* Aplicar texto en mayúsculas a todos los campos de entrada del formulario */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  text-transform: none;
}

/* Estilos para los input al ser enfocados */
#contactForm input[type="text"]:focus,
#contactForm input[type="tel"]:focus,
#contactForm input[type="email"]:focus,
#contactForm textarea:focus {
  background-color: white;
  outline: none;
  /* Quita el borde de enfoque predeterminado */
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra más pronunciada al enfocar */
}

/* Estilo para el botón de enviar */
button[type="submit"] {
  background-color: rgba(0, 0, 0, 0.8);
  /* Fondo semi-transparente */
  color: #fff;
  /* Color del texto */
  border: none;
  /* Sin borde */
  padding: 10px 20px;
  /* Ajusta el relleno según sea necesario */
  border-radius: 5px;
  /* Borde redondeado */
  cursor: pointer;
  /* Cambia el cursor al pasar sobre él */
}

/* Estilo para el botón de enviar al pasar el cursor sobre él */
button[type="submit"]:hover {
  background-color: #fafdfb !important;
  color: #000000 !important;
}

.swiper-slide {
  position: relative;
}

.swiper-container {
  max-width: 70rem;
  /* Ancho máximo del contenedor */
  padding: 0 1rem;
  /* Relleno horizontal */
  margin: 0 auto;
  /* Centrado horizontal */
}

.swiper-slide {
  width: 60rem;
  /* Ancho de las diapositivas */
  height: 42rem;
  /* Altura de las diapositivas */
  position: relative;
  /* Posición relativa */
}

.swiper-slide img {
  width: 60rem;
  /* Ancho de las imágenes */
  height: 42rem;
  /* Altura de las imágenes */
  border-radius: 2rem;
  /* Radio de borde */
  object-fit: cover;
  /* Ajuste del tamaño y recorte de la imagen */
}

.swiper-slide:not(:first-child) img {
  width: 90%;
  z-index: 0;

}

.swiper-slide-active img {
  width: 100%;

}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  /* Añadimos margen superior para separarlos del slider */
}

.tranding-slider-control .swiper-pagination {
  position: absolute;
  /* Cambiamos a posición absoluta */
  bottom: -2rem;
  /* Ajustamos la posición con un margen negativo */
  left: 0;
  /* Ajustamos la posición a la izquierda */
  right: 0;
  /* Ajustamos la posición a la derecha */
  text-align: center;
  /* Centramos los botones de paginación */
}

.tranding-slider-control .swiper-button-next,
.tranding-slider-control .swiper-button-prev {
  position: absolute;
  /* Cambiamos a posición absoluta */
  top: 50%;
  /* Posicionamos en el centro verticalmente */
  transform: translateY(-50%);
  /* Centramos verticalmente */
}

.tranding-slider-control .swiper-button-next {
  right: 0;
  /* Ajustamos la posición a la derecha */
}

.tranding-slider-control .swiper-button-prev {
  left: 0;
  /* Ajustamos la posición a la izquierda */
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2.5rem;
  /* Ajusta el tamaño del ícono */
  color: black;
  /* Cambia el color del ícono a negro */
}

/* Estilos para el punto activo de la paginación del slider */
.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: black;
  /* Cambia el color de fondo del punto activo a negro */
}

.modal-info {
  font-size: 1.2rem;
}

.swiper-pagination {
  margin-bottom: 15px;
  /* Ajusta este valor según tu preferencia */
}

.invalid-feedback {
  font-size: 1.1rem;
  display: none;
  color: red;
}

input:invalid+.invalid-feedback {
  display: block;
}

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  text-transform: none;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#FF0000 0%, #FF0000 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}

/* Aumenta el tamaño de las etiquetas y textos de los inputs */
#contactFormSection .form-label {
  font-size: 1.6rem;
  /* Ajusta el tamaño según sea necesario */
  margin-top: 1px;
  /* Ajusta la distancia superior del primer label */
}

#contactFormSection .form-control {
  font-size: 2rem;
  /* Ajusta el tamaño según sea necesario */
}

/* Opcional: Ajusta el tamaño del título del modal */
#contactFormSection .modal-title {
  font-size: 3rem;
  /* Ajusta el tamaño según sea necesario */
  text-align: center;
  /* Centra el título horizontalmente */
  margin-top: 10px;
  /* Ajusta la distancia desde el borde superior del contenedor */

}

#contactFormSection .btn-primary {
  font-size: 1.2rem;
  /* Ajusta el tamaño según sea necesario */
}

/* Estilos específicos para el formulario dentro del modal */
.modal-form {
  padding: 15px !important;
  /* Ajusta el relleno */
}

/* Estilo del botón en su estado normal */
.btn-primary.me-interesa-button {
  background-color: black;
  /* Fondo negro */
  color: white;
  /* Texto blanco */
  border: none;
  /* Sin borde */
  padding: 10px 20px;
  /* Ajusta el relleno según sea necesario */
  border-radius: 5px;
  /* Bordes redondeados */
  font-size: 1.1rem !important;
  /* Tamaño de la fuente */
  cursor: pointer;
  /* Cambia el cursor al pasar sobre él */
  transition: background-color 0.3s, color 0.3s;
  /* Transición suave */
}

/* Estilo del botón en el estado hover */
.btn-primary.me-interesa-button:hover {
  background-color: white;
  /* Fondo blanco */
  color: black;
  /* Texto negro */
  border: 1px solid black;
  /* Añade un borde negro al pasar el cursor */
}

/* Estilo del botón en el estado activo (opcional) */
.btn-primary.me-interesa-button:active {
  background-color: #ccc;
  /* Fondo gris claro al hacer clic */
  color: black;
  /* Texto negro */
}

.video-banner {
  height: 60vh;
  overflow: hidden;
  position: relative;
}

.video-banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Capa de sombreado */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  /* Color negro con 40% de opacidad */
  pointer-events: none;
  /* Permite hacer clic a través de la capa */
}

/* Estilos del buscador */
.search-wrapper {
  position: relative;
  max-width: 400px;
  /* Ajusta el tamaño del buscador */
  flex: 1;
}

#keywordInput {
  width: 100%;
  padding: 8px 40px 8px 15px;
  /* Ajusta el padding para el icono */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 15px;
  /* Borde redondeado */
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  /* Añade transición para el borde */
}

#keywordInput:focus {
  border-color: #ccc;
  /* Borde gris al hacer foco */
  outline: none;
  /* Elimina el borde de enfoque predeterminado */
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #555;
  /* Color gris para el icono */
}

.search-icon i {
  pointer-events: none;
}

/* Ajustes para el input de búsqueda */
.search-wrapper input {
  background-color: #fff;
  color: #333;
  height: 35px;
  /* Ajustar la altura del input */
}

#keywordInput:hover,
#keywordInput:focus {
  border-color: #a89c9c;
  /* Color gris al hacer hover y foco */
}

#noResultsMessage {
  display: none;
  /* Ocultar por defecto */
  position: fixed;
  /* Fijo en la pantalla */
  top: 50%;
  /* Centrarse verticalmente */
  left: 50%;
  /* Centrarse horizontalmente */
  transform: translate(-50%, -50%);
  /* Ajuste para centrar el elemento */
  background-color: rgba(205, 196, 196, 0.9);
  /* Fondo blanco con opacidad */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: rgb(5, 5, 5) !important;
  font-size: 2rem;
  /* Tamaño del texto */
  width: 40%;
  /* Ancho del mensaje */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.262);
  /* Sombra para mayor visibilidad */
}

#contGame {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* Para que las tarjetas se alineen a la izquierda */
  gap: 1rem;
  /* Espacio entre las tarjetas, ajusta según necesites */
}

/* Asegúrate de que las tarjetas mantengan su tamaño y formato */
.card {
  /* Asegúrate de definir las propiedades básicas de la tarjeta */
  flex: 0 1 23%;
  /* Ajusta el tamaño según tus necesidades */
  margin-bottom: 1rem;
  /* Espaciado inferior entre las tarjetas */
  box-sizing: border-box;
  /* Incluye padding y border en el tamaño total */
  display: block;
  /* Agrega otros estilos que necesites */
}

/* Estilos del Sidebar */
.sidebar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 350px;
  height: calc(100% - 60px);
  /* Ajusta 60px según la altura de tu navbar */
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  z-index: 9999;
  overflow-y: auto;
  transform: translateX(100%);
  /* Inicialmente oculto */
}

.sidebar.open {
  transform: translateX(0);
  /* Mostrar el sidebar */
}


.sidebar-content {
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar .form-group {
  margin-bottom: 15px;
}

.sidebar .btn-block {
  width: 100%;
}

body.sidebar-open {
  overflow: hidden;
}

/* Margen superior ajustado para formularios y títulos */
#loginForm,
#registerForm,
#sidebarTitle {
  margin-top: 30px;
}

/* Ajustes de estilo para los labels y inputs */
#loginForm label,
#registerForm label {
  font-size: 1.2rem;
}

#loginForm input,
#registerForm input {
  font-size: 1.5rem;
  border-radius: 8px;
}

/* Estilo para los botones dentro del Sidebar */
#loginSidebar .btn-primary,
#loginSidebar .btn-link {
  font-size: 1.2rem;
}

/* Asegúrate de que el botón de "Registrarse" también tenga el mismo estilo */
#loginSidebar .btn-primary.btn-block {
  font-size: 1.2rem;
}


#changePasswordSection h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #333;
}

#passwordChangeForm {
  display: flex;
  flex-direction: column;
}

#passwordChangeForm label {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

#passwordChangeForm input {
  font-size: 1.2rem;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}

#passwordChangeForm button[type="submit"] {
  background-color: #000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

#passwordChangeForm button[type="submit"]:hover {
  background-color: #0056b3;
}

#passwordChangeForm button[type="button"] {
  background-color: #6c757d;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 10px;
}

#passwordChangeMessage {
  margin-top: 10px;
  font-size: 1rem;
}

/* Asegúrate de que los inputs dentro del formulario de cambio de contraseña se vean consistentes con los demás formularios */
#passwordChangeForm input {
  font-size: 1.5rem;
  border-radius: 8px;
}

/* Estilos generales para los formularios */
form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

/* Estilos para las etiquetas de los formularios */
form .form-group label {
  font-weight: bold;
  color: #333;
}

/* Estilos para los inputs de los formularios */
form .form-control {
  border: rgb(195, 195, 195) solid 0.8px;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  box-shadow: none;
  transition: border-color 0.3s ease;
}

form .form-control:focus {
  box-shadow: 0 0 8px rgba(7, 7, 7, 0.2);
}

/* Estilos para los botones */
form .btn {
  background-color: #000;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}


form .btn-link {
  background-color: white;
  color: #237d20;
  font-size: 14px;
  padding: 5px;
}

form .btn-link:hover {
  color: #219c1b;
  text-decoration: none;
}

/* General */
#userProfile {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-header {
  text-align: center;
}

.profile-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.profile-image-container {
  position: relative;
  /* Necesario para el posicionamiento absoluto del ícono de la cámara */
  text-align: center;
  margin-bottom: 30px;
}

.profile-image {
  width: 150px;
  /* Aumenta el tamaño de la imagen según sea necesario */
  height: 150px;
  /* Aumenta el tamaño de la imagen según sea necesario */
  border-radius: 50%;
  /* Mantiene la imagen en forma circular */
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.4);
  /* Añade sombra a la imagen */
  object-fit: cover;
}

.camera-icon {
  position: absolute;
  bottom: 5px;
  /* Ajusta la distancia desde el fondo según sea necesario */
  right: 40px;
  /* Ajusta la distancia desde el lado derecho según sea necesario */
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  /* Ajusta el tamaño del ícono si es necesario */
  height: 35px;
  /* Ajusta el tamaño del ícono si es necesario */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 10;
  /* Asegura que el ícono esté encima de otros elementos */
}

.camera-icon:hover {
  transform: scale(1.2);
}

.camera-icon i {
  font-size: 20px;
  /* Ajusta el tamaño del ícono si es necesario */
  color: #27cb21;
}

.profile-image-container input[type="file"] {
  display: none;
}

/* Estilo de los campos de perfil */
.profile-field {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.profile-field i {
  margin-right: 10px;
  color: #237d20;
}

.profile-field-input {
  border: none;
  background: none;
  font-size: 1em;
  flex: 1;
}

.edit-icon,
.save-icon {
  cursor: pointer;
  margin-left: 10px;
}

.save-icon {
  color: #28a745;
}

/* Estilo para enlaces y botones */
.profile-links {
  margin: 20px 0;
}

.profile-links a {
  display: block;
  color: #28a745;
  text-decoration: none;
  margin-bottom: 10px;
}

.profile-links a:hover {
  text-decoration: underline;
}

.btn-logout {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  font-size: 1em;
}

.btn-logout:hover {
  background-color: #949090;
}

/* Estilos para el navbar */
.navbar .nav-link,
.navbar .dropdown-toggle {
  color: white !important;
  /* Color blanco para los enlaces del navbar */
  font-size: 1.4rem;
  /* Igual tamaño de fuente */
  display: flex;
  align-items: center;
  /* Alinear verticalmente */
  padding: 10px 15px;
  /* Asegurar el mismo padding */
}

/* Separación entre elementos del navbar */
.navbar .nav-item {
  margin-right: 20px;
  /* Espacio más amplio entre los botones */
}

/* Efecto de caída para el menú desplegable */
.navbar .dropdown-menu {
  background-color: black;
  /* Fondo oscuro para el menú desplegable */
  color: white;
  /* Color de texto blanco */
  border-radius: 10px;
  /* Bordes inferiores redondeados */

  /* Transición para suavizar la aparición */
  transform: translateY(-15px);
  /* Posiciona ligeramente hacia arriba al principio */
  opacity: 0;
  /* Inicia invisible */
  transition: transform 0.5s ease, opacity 0.5s ease;
  /* Incrementar la duración de la transición */
  display: none;
  /* Oculto por defecto */
}

/* Mostrar el menú desplegable con la animación */
.navbar .dropdown-menu.show {
  transform: translateY(0);
  /* Vuelve a su posición original */
  opacity: 1;
  /* Totalmente visible */
  display: block;
  /* Mostrar el menú */
}

/* Elementos del menú desplegable */
.navbar .dropdown-menu .dropdown-item {
  color: white;
  /* Color blanco para los elementos del menú */
  font-size: 1.2rem;
  /* Aumentar tamaño del texto */
  padding: 10px 20px;
  /* Ajustar el espaciado interno para mayor claridad */
}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #555;
  /* Cambiar color de fondo al pasar el mouse */
  color: white;
  /* Mantener el texto blanco */
}


/* Estilo para el ícono del perfil */
.navbar .fas.fa-user {
  color: white;
  /* Color blanco para el ícono de usuario */
  font-size: 1.4rem;
  /* Ajustar tamaño del icono al tamaño del texto */
}

/* Icono de perfil encerrado en un círculo */
.navbar .profile-icon {
  background-color: black;
  /* Fondo blanco para el círculo */
  color: black;
  /* Color del icono dentro del círculo */
  font-size: 1.7rem;
  /* Tamaño del icono */
  border-radius: 50%;
  /* Forma circular */
  padding: 10px;
  /* Espacio dentro del círculo */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Asegurar que todos los items estén alineados correctamente */
.navbar-nav {
  display: flex;
  align-items: center;
}

/* Ajuste del botón Contáctanos */
.navbar .nav-item:last-child .nav-link {
  padding: 10px 15px;
  /* Asegurar que tenga el mismo padding que los demás */
}

/* Ajustar el estilo de la imagen del perfil */
/* Ajustar el tamaño de la imagen de perfil */
.profile-icon {
  width: 50px;
  /* Ajusta este tamaño según lo necesario */
  height: 50px;
  /* Asegúrate de que sea cuadrado */
  border-radius: 50%;
  /* Mantén la imagen circular */
  object-fit: cover;
  /* Asegura que la imagen se ajuste bien al círculo */
}

/* Alinear correctamente los elementos dentro del navbar */
.navbar-nav {
  display: flex;
  align-items: center;
}

/* Estilo para el texto del placeholder */
input::placeholder {
  color: #c7c8c9 !important;
  /* Gris claro */
  font-size: 1rem;
  /* Tamaño de texto más pequeño, ajusta según necesidad */
}

/* Estilo para el fondo de los campos de entrada */
input {
  background-color: #f0f8f0;
  /* Verde crema claro */
  border-radius: 5px;
  /* Bordes redondeados, ajusta el valor según preferencia */
  padding: 0.5rem;
  /* Espaciado interno, ajusta según necesidad */
}

/* Estilo para el estado enfocado del campo de entrada */
input:focus {
  background-color: #e6f4e6 !important;
  /* Verde crema más claro, ajusta según preferencia */
  outline: none;
  /* Quita el borde de enfoque predeterminado si es necesario */
}

/* Estilos para el Spinner de las Cards */
#cardsSpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

#cardsSpinner {
  display: flex;
  gap: 8px;
}

#contGame {
  visibility: hidden;
}

#cardsSpinnerContainer.hidden {
  display: none;
}

.dot {
  width: 13px;
  height: 13px;
  background-color: rgb(100, 190, 100);
  border-radius: 50%;
  animation: bounce 1s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}

/* Estilos para el Spinner del Sidebar */
#sidebarSpinnerContainer {
  position: absolute;
  /* Para que se superponga al contenido */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  /* Por defecto oculto */
  justify-content: center;
  /* Centramos el spinner horizontalmente */
  align-items: center;
  /* Centramos el spinner verticalmente */
  background-color: rgba(255, 255, 255, 0.8);
  /* Un fondo semitransparente para cubrir el contenido */
  z-index: 999;
  /* Para asegurarnos de que se superponga a todo */
}

#sidebarSpinner {
  display: flex;
  gap: 8px;
}

.sidebar-dot {
  width: 10px;
  height: 10px;
  background-color: rgb(100, 190, 100);
  border-radius: 50%;
  animation: bounce 1s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}


/* Estilo para el ícono de lápiz */
.edit-icon {
  cursor: pointer;
  margin-left: 10px;
  color: #555;
  /* Puedes ajustar el color */
}

/* Estilo para el ícono de validación (check) */
.save-icon {
  cursor: pointer;
  margin-left: 10px;
  color: #32CD32;
  /* Verde claro (Lime Green) */
  font-size: 18px;
  /* Ajusta el tamaño según sea necesario */
  transition: color 0.3s ease;
}

.save-icon:hover {
  color: #2E8B57;
  /* Verde más oscuro al pasar el cursor */
}

.profile-links {
  margin-top: 10px;
}

.profile-links a {
  font-size: 9px;
  display: block;
  color: #2E8B57;
  text-decoration: none;
  margin-bottom: 5px;
  cursor: pointer;
}

.profile-links a:hover {
  text-decoration: underline;
}